/* Main container */
.main-container {
    min-height: 100vh;
    position: relative;
    padding: 10px;
  }
   
  .lanyard-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
    overflow: visible;
  }
  
  .lanyard-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
   
  .content-container {
    position: relative;
    z-index: 0; 
    
    
  }
 
   
   
  .heading-main {
    font-family: "super", sans-serif;
    font-weight: bold;
    font-size: 150px;
    justify-content: start;
  }
  
  .heading-sub {
    font-family: "super", sans-serif;
    font-weight: bold;
    font-size: 150px;
    justify-content: end;
  }
   
  
  /* Responsive styles */
  @media (max-width: 1440px) {
    .heading-main { font-size: 150px; }
    .heading-sub { font-size: 150px; } 
  }
  
  @media (max-width: 1300px) {
    .heading-main { font-size: 140px; }
    .heading-sub { font-size: 140px; } 
  }
  
  @media (max-width: 1200px) {
    .heading-main { font-size: 140px; }
    .heading-sub { font-size: 140px; } 
  }
  
  
  @media (max-width: 1000px) {
    .heading-main { font-size: 120px;  }
    .heading-sub { font-size: 120px;  } 
  }
  
  @media (max-width: 900px) {
    .heading-main { font-size: 100px;   }
    .heading-sub { font-size: 100px; } 
  }
  
  @media (max-width: 800px) {
    .heading-main { font-size: 100px; }
    .heading-sub { font-size: 100px;  } 
  }

  @media (max-width: 700px) {
   .heading-main { font-size: 80px; }
   .heading-sub { font-size: 80px;  }
  }
  
  @media (max-width: 600px) {
    .heading-main { font-size: 80px;   }
    .heading-sub { font-size: 80px;  } 
  }
  
  @media (max-width: 500px) {
    .heading-main { font-size: 60px;   }
    .heading-sub { font-size: 60px;  } 
  }
  @media (max-width: 376px) {
    .heading-main { font-size: 50px; }
    .heading-sub { font-size: 50px;   } 
  }
  
  @media (max-width: 300px) {
    .heading-main { font-size: 30px; }
    .heading-sub { font-size: 30px; } 
  }
  
  @media (max-width: 200px) {
    .heading-main { font-size: 20px; }
    .heading-sub { font-size: 20px; } 
  }
  