.MainPag {
    position: relative;
    height: auto;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* To handle content wrapping */
    padding: 70px;
}

.MainPag .left {
    height: auto;
    width: 50%;
    padding-top: 150px;
}

.MainPag .left .top {
    display: flex;
    cursor: default;
    height: 100px;
}

.MainPag .left .top .hover_container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.MainPag .left .top .hover_container .green_dot {
    width: 28px;
    height: 28px;
    background: radial-gradient(circle, rgb(1, 255, 168) 50%, rgba(34, 197, 94, 0.3) 75%, transparent 100%);
    border-radius: 50%;
    animation: blink 3s infinite ease-in-out;
    transition: all 0.3s ease;
}

.MainPag .left .top .hover_container .green_dot:hover {
    animation: none;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background: transparent;
    box-shadow: inset 0 0 20px rgba(1, 255, 168, 0.5), 0 0 40px rgba(1, 255, 168, 0.5);
    border: 1.5px solid #32de84;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 20px rgba(50, 205, 50, 0.6), 0 0 30px rgba(50, 205, 50, 0.4);
    }
    50% {
        opacity: 0;
        box-shadow: 0 0 10px rgba(50, 205, 50, 0.3), 0 0 15px rgba(50, 205, 50, 0.2);
    }
}

.MainPag .left .top .hover_container .text {
    position: absolute;
    margin-left: 35px;
    font-size: 1.82rem;
    color: #fff;
}

.MainPag .left .middle {
    width: 100%;
    margin-bottom: 50px;
}

.MainPag .left .middle p {
    line-height: 5rem;
    font-size: 7rem;
    font-weight: 700;
}

@media (min-width: 1441px) {
    .MainPag .left .middle p {
        font-size: 5.5rem;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .MainPag .left .middle p {
        font-size: 5rem;
        line-height: 5rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .MainPag .left .middle p {
        font-size: 5rem;
        line-height: 5rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .MainPag .left .middle p {
        font-size: 4rem;
        line-height: 5rem;
    }
}

@media (max-width: 480px) {
    .MainPag .left .middle p {
        font-size: 3.2rem;
        line-height: 3rem;
    }
}

.MainPag .left .bottom {
    width: 40%;
    font-size: 1.13rem;
}

@media (min-width: 1441px) {
    .MainPag .left .bottom {
        width: 50%;
        font-size: 1.13rem;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .MainPag .left .bottom {
        width: 60%;
        font-size: 1.13rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .MainPag .left .bottom {
        width: 70%;
        font-size: 1.12rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .MainPag .left .bottom {
        width: 70%;
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .MainPag .left .bottom {
        width: 90%;
        font-size: 1rem;
    }
}

.MainPag .right {
    height: auto;
    width: 50%;
    display: flex;
    padding: 0px 70px;
    justify-content: center;
}

.MainPag .right .overflow_hidden {
    overflow: hidden;
    position: relative;
    height: 800px;
    filter: blur(0);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.1));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.1));
}

/* Responsive styles for smaller screens */
@media (max-width: 720px) {
    .MainPag {
        flex-direction: column; /* Stack elements vertically */
        padding: 30px;
    }

    .MainPag .left, .MainPag .right {
        width: 100%; /* Full width for both sections */
        padding: 0; /* Reset padding for cleaner stacking */
    }

    .MainPag .left {
        padding-top: 50px;
    }

    .MainPag .right {
        padding-top: 20px;
    }
}
