.main {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 13%;
    color: black;
    overflow: hidden;
    font-family: 'Reddit', sans-serif;
}

.main .left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main .left .hh {
    font-size: 5.5dvh;
    margin-bottom: 90px;
}

.main .left .hh .profile {
    display: none;
}

.main .left .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .left .form .buttonContainer {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.main .left .formItem {
    padding: 4dvh 0;
    border-top: 2px solid rgba(0, 0, 0, 0.075);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .left .formItem .labelContainer {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 20px; 
}

.main .left .formItem .labelContainer h1 {
    color:  rgba(0, 0, 0, 0.3);
    font-size: 2.2dvh;
    margin: 0;
    padding-top: 8px;
}

.main .left .formItem .labelContainer label {
    font-size: 3.2dvh;
    color: black;
    margin: 0;
    flex: 1;
    transition: opacity 0.3s ease;
}

.main .left .formItem .labelContainer .filled {
    opacity: 0.3;
}

.main .left .formItem input {
    background-color: transparent;
    color: black;
    border: none;
    margin-left: 45px;
    padding: 15px;
    font-size: 2.6dvh;
    border-radius: 4px;
    width: 100%;
}

.main .left .formItem input:focus {
    outline: none;
}

.main .button {
    width: 180px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
    border-radius: 5px;
    margin-right: 100px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    z-index: 1;
}

.main .button p {
    font-size: 2.4dvh;
    z-index: 99;
}

.main .right {
    width: 20%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 200px 0px 0px 100px;
}

.main .right .profileContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main .right .profileContainer .profileImage {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 100px;
}

.main .right .profileContainer .arrow {
    font-size: 3.6dvh;
    color: black;
    margin-bottom: 100px;
}

.main .right .contactDetails {
    text-align: left;
    margin: 20px 0;
    margin-bottom: 100px;
}

.main .right .contactDetails h2 {
    margin: 0;
    font-size: 1.6dvh;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.main .right .contactDetails p {
    margin: 5px 0;
    font-size: 2.4dvh;
    margin-bottom: 10px;
}

.main .right .socialLinks {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.main .right .socialLinks h2 {
    margin: 0;
    font-size: 1.6dvh;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.main .right .socialLinks a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2.4dvh;
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.main .bottom {
    display: none;
    justify-content: center;
    gap: 20px; 
}

.main .bottom .round {
    justify-items: center;
    align-self: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .bottom .round p {
    font-size: 1dvh;
}

.main .footer {
    display: none;
}

@media (max-width: 1200px) {
    .main {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    
    .main .left .hh {
        display: flex;
        font-size: 4.2dvh;
        margin-bottom: 20px;
        margin-top: 130px;
        flex-wrap: wrap; 
        padding-left: 5%;
    }
    .main .left .form {
        align-self: center;
        width: 90%;
    }
    .main .left .form .formItem input {
        margin-left: 35px;
        font-size: 1.6dvh;
    }
    .main .left .form .button {
        height: 6dvh;
        width: 10dvh;
        margin-right: 120px;
    }
    .main .right {
        display: none;
    }
    .main .bottom {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 50px;
        width: 100%;
        
    }
    .main .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .main .footer .title {
        text-align: center;
        font-size: 1dvh;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.3);
    }
    .main .footer .links {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .main .footer .links a {
        font-size: 1.2dvh;
        color: black;
        text-decoration: none;
    }
}
@media (max-width: 1200px) {
    .main .right {
        display: none;
    }
    .main .left {
        width: 100%;
        padding-top: 30px;

    }
}
